.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.App {
  max-width: 960px;
  margin: auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: rgb(4, 4, 4);
  background-color: rgba(255, 228, 196, 0.783);
}

.header-intro{
  text-align: left;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: -20px;
  margin: auto;
}

.container {
  display: flex;
  margin-top: -20px;
  margin-right: 50px;
  margin-left: 60px;
  text-align: left;
}

.left-column {
  flex: 2; /* Adjust the ratio as per your design */
  padding-right: 20px; /* Add some space between columns */
  text-align: left;

}

.right-column {
  flex: 4; /* Adjust the ratio as per your design */
  padding-left: 20px; /* Add some space between columns */
  text-align: left;
}

.header-container {
  display: flex;
  margin-top: -20px;
  margin-right: 50px;
  margin-left: 60px;
  text-align: left;
  
}
.header-container-right {
  flex: 1; /* Adjust the ratio as per your design */
  padding-left: 0px; /* Add some space between columns */
  text-align: left;
}

.header-container-left{
  flex: 1; /* Adjust the ratio as per your design */
  padding-right: 0; /* Add some space between columns */
  text-align: left;
}



header img {
  width: 150px; /* Adjust based on your image's aspect ratio */
  height: auto;
  border-radius: 50%; /* Circular image */
}

/* Add other styles for typography, margins, etc., as needed */
/* App.css - Add this at the bottom of your existing styles */
/* @media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding-left: 60px;
  }
  
  .left-column, .right-column {
    padding-right: 0;
    padding-left: 0;
    padding-left: 60px;
  }
} */

.fancy-background {
  background: linear-gradient(45deg, rgb(0, 206, 110) 50%, rgb(165, 162, 4) 59%, #500af5 100%);
  background-size: 400% 400%;
  animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}